#planner-helper {
    border: 1px solid #181818;
    border-radius: 10px;
    padding: 10px;
}

.section {
    display: inline-block;
    width: 30%;
    padding: 3px;
    vertical-align: top;
}

#planner-helper-data {
    display: none;
}
/* View Data button*/
.view-data {
    width: 100px;
    background: #EFEFEF;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 0 auto !important;
}

.view-data:hover {
    background-color: white; 
}
